.slider {
  position: relative;
  z-index: 10;

  @include tablet-desktop {
    margin-bottom: -6.4rem;
  }

  @include desktop {
    padding-right: 7.4rem;
  }

  @include mobile {
    padding-bottom: 1rem;
  }
}

.swiper-carousel {
  position: relative;
  overflow: hidden;

  @include tablet-desktop {
    width: 100%;
    margin: 0 auto;
  }

  @include desktop {
    max-width: 148.3rem;
  }

  @include tablet {
    max-width: 100%;
  }

  @include mobile {
    width: calc(100% + 2.6rem);
    margin-bottom: 8.3rem;
    margin-left: -1.3rem;
  }

  .swiper-slide {
    position: relative;
    overflow: hidden;
    width: 33.6rem;
    max-width: calc(100% - 4.8rem);
    // Slide background to match main background
    height: 23.2rem;
    border-radius: 1.1rem;
    background: $color-default-white;
    filter: drop-shadow(0 0.3rem 1rem rgba($color-default-black, 0.3));

    @include tablet {
      width: 30.1rem;
      height: 20.8rem;
    }

    @include mobile {
      width: 25.6rem;
      height: 17.7rem;
    }

    &--bg {
      .slide-content {
        background-color: $color-transparent;
      }

      .slide-text {
        background: none;
        background-clip: unset;
        -webkit-text-fill-color: unset;
        color: $color-default-white;
      }
    }
  }

  .swiper-carousel-animate-opacity {
    position: relative;
    isolation: isolate;
    height: 100%;
  }

  .swiper-pagination-bullets {
    bottom: 0;
  }

  .slide-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 3rem 2rem 2rem;
    background: $color-default-white;

    @include mobile {
      padding: 2.7rem 1.5rem 1.5rem;
    }
  }

  .slide-img {
    position: relative;
    width: 100%;
    height: 12.2rem;
    margin-bottom: 2.8rem;

    @include tablet {
      //width: 132..437rem;
      height: 10.9rem;
      margin-bottom: 2.2rem;
    }

    @include mobile {
      //width:. 113rem;
      height: 9.3rem;
      margin-bottom: 1.9rem;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .slide-text {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.7rem;
    margin: 0;
    background: linear-gradient(155deg, #215863 0.52%, #0b2a30 85.89%);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    @include tablet {
      font-size: 1.6rem;
      line-height: 2.4rem;
    }

    @include mobile {
      font-size: 1.37rem;
      line-height: 2rem;
    }
  }

  .slide-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
}

.slider__button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  transition: opacity $trans-default;
  border: none;
  outline: none;
  background-color: $color-transparent;
  background-repeat: no-repeat;
  background-size: contain;

  @include tablet-desktop {
    top: 50%;
    width: 2.4rem;
    height: 4.8rem;
    transform: translateY(-50%);
  }

  @include mobile {
    top: 19rem;
    width: 2.3rem;
    height: 3.7rem;
  }

  @include hover {
    &:hover {
      opacity: 0.6;
    }
  }

  &--prev {
    left: 7.1rem;
    background-image: url("../img/svg/slider-arrow-left.svg");

    @include tablet {
      left: 1.6rem;
    }

    @include mobile {
      left: 1.2rem;
    }
  }

  &--next {
    right: 13.8rem;
    background-image: url("../img/svg/slider-arrow-right.svg");

    @include tablet {
      right: 1.2rem;
    }

    @include mobile {
      right: 1rem;
    }
  }
}

.slider__btn {
  @include tablet-desktop {
    display: none;
  }

  @include mobile {
    width: 100%;
  }
}

