mixin header(headerMods, currentUrl)
  header.header(class=headerMods)
    .container
      span.header__logo
        img(src="img/svg/logo.svg", width="300", height="49" alt="logo").header__logo-img

